
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
                                    /* NAVBAR */
.navbar .container-fluid {
    width: 90%;
}

.navbar-brand .start,
.navbar-brand .end {
    font-size: 1.5rem;
}

.navbar-brand .end {
    background-color: #3089d7;
    border-radius: 5px;
    padding: 0 5px;
    color: #eeeeee;
}

.navbar-nav a.nav-link,
.navbar-nav a.dropdown-item {
    font-size: 1.04rem;
    font-weight: 200;
    text-transform: uppercase;
}

.navbar-nav a.nav-link {
    margin: 0 1rem;
}

.navbar-nav .sign-in,
.navbar-nav .sign-up {
    border: 0;
    background-color: transparent;
    font-size: 1.04rem;
    font-weight: 200;
    text-transform: uppercase;
}

.sign-in span {
    border-bottom: #8edb9269 2px solid;
}

.sign-up span {
    border-bottom: #3e89d7b5 2px solid;
}

                                    /* MAIN */
.poster-item img {
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}

.poster-col {
    position: relative;
    padding-top: 62px;
    padding-left: 0;
    padding-right: 0;
}

.poster-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 1rem;
    color: #ffffff;
}

.poster-text .poster-title {
    font-weight: 200;
    font-size: 1.2rem;
}

.poster-text .film-name {
    font-weight: 400;
    font-size: 1.6rem;
}

.poster-text .buy-ticket-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #0072ce;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    font-weight: 200;
}

.poster-text .buy-ticket-btn:hover {
    color: #0072ce;
    background-color: #ffffff;
}

.poster-text .poster-trailer {
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0 1rem;
    color: #ffffff;
}

















/* FOOTER */
footer .follow-title-text {
    color: #212c3b;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

footer .social-items {
    display: flex;
    justify-content: center;
}

.social-item img {
    width: 32px;
    height: 32px;
    margin: 1rem;
    filter: drop-shadow(4px 4px 5px gray);
}

.bottom-footer {
    background-color: #212c3b;
    padding: 3rem 0;
}

.subscribe {
    margin-bottom: 1rem;
}

.subscribe-title {
    text-align: center;
    color: #7d7d7d;
}

.subscribe-form {
    text-align: center;
}

.subscribe-input {
    padding: 6px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.subscribe-input:focus {
    border: 1px solid #b7b7b7;
}

footer .footer-bottom-container {
    margin-top: 1rem;
    background-color: #212c3b;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: white;
}

.footer-logo a {
    color: #eeeeee;
}

footer ul li {
    list-style-type: none;
}

.footer-nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
}

.phone-title p,
.email-title p {
    margin: 0;
    color: #3089d7;
    font-size: 1.2rem;
}

.copyright-text {
    text-align: center;
    margin-top: 2rem;
    color: #bebebeb3;
}










@media screen and (max-width: 1552px)  {
    .navbar .container-fluid {
        width: 100%;
    }
}